<style>

body {background-color: white;}

h1 {
    font-size: 20px;
    transition: 5s;
}

h1:hover {
    font-size: 30px;
}

article p::first-letter {
    font-size: 200%;
    color: hotpink;
}

.button {
    width: 100px;
    transition: 2s;
}

.button:active {
    width: 300px;
}

.btn:focus {
    background-color: yellow;
    color: blue;
}


</style>
